.cargador {
    color: red;
    display: flex;
    justify-content: center;

}

.movies{
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    text-decoration: none;
}
.botonCargarMas{
    background-color: #c8102e; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px;
    font-size: medium;
    }
    

   